body {
  margin: 0;
  width: auto;
}

nav {
  background-color: #454341;
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: white;
}
nav h1 {
  color: #ff5733;
  margin: 0;
}

nav h1:hover {
  color:white; 
}

.container {
  padding: 2rem;
}
